<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel = "stylesheet" href = "./css/styles.css "> 
</head>
<body>
    <div class="main">
        {{>header}}
        <p>This site was created by PK, just search for the place for which you want to query the weather for and enjoy</p>
        <img class = "potrait" src = "/images/robot.png">
    </div>
    {{>footer}}
</body>


</html>     